@charset "utf-8";

@font-face {
    font-family: 'fontello';
    src:url('../../assets/fonts/fontello/icon_svg.eot?26916798');
    src:url('../../assets/fonts/fontello/icon_svg.eot?26916798#iefix') format('embedded-opentype'),
        url('../../assets/fonts/fontello/icon_svg.woff?26916798') format('woff'),
        url('../../assets/fonts/fontello/icon_svg.ttf?26916798') format('truetype'),
        url('../../assets/fonts/fontello/icon_svg.svg?26916798#icon_svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 홈 - 아이콘 */
.demo-icon{font-family: "fontello";font-style: normal;font-weight: normal;display: inline-block;text-decoration: inherit;
font-size: 2.4rem;height: 2.4rem;text-align: center;font-variant: normal;text-transform: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; 
color:var(--changeTxt);}
.demo-icon.icon-icon_drop_down{font-size: 2rem;}
.home .demo-icon.icon-icon_drop_down{position: absolute; top: 1.9rem; width: 2rem; height: 2rem;}
.before .demo-icon{opacity: .7;}

.demo-icon.icon-icon_plus{font-size: 4rem;}
.demo-icon.icon-icon_card{font-size: 2rem; margin-right: .6rem; position: relative; top: 2px;}

/* 홈 - 백그라운드 */
#wrapper.changeColor{height: 100vh; background-color: var(--changeColor) !important; background-image: url('../images/filter/home_bg.png'); background-position: left top; background-size: cover; background-repeat: no-repeat;}

/* 홈 - header 텍스트 */
.home header .home_drop h1{display: inline-block;padding: .3rem .4rem 0 .8rem; font-size: 1.6rem; color: var(--changeTxt) !important; font-weight: 700;}

/* 홈 - 시민증 */
.id_card_box{position: relative; padding: .8rem 1.2rem 1.3rem 2rem;margin:0 auto; width: calc(100% - 6rem); 
background-color: var(--changeColor) !important;
/* background-image: url('../images/filter/id_card_bg.png'); */
background-repeat: no-repeat; background-position: center; background-size: cover;
border-radius: 2rem; box-shadow: 0 1.5rem 3rem rgba(8, 16, 57, 0.25);}
.id_card_box .id_card_top .card_name{padding-top: .4rem; color: var(--changeTxt) !important; font-weight: 700;}
.id_card_box .id_card_middle .id_profile_name{padding-top: 1.1rem; font-size: 1.5rem; font-weight: 700; color: var(--changeTxt) !important;}
.id_card_box .id_card_middle .id_num{font-size: 1.3rem; color: var(--changeTxt) !important; line-height: 1.3rem; font-weight: 700;}

.id_card_box .id_filter_img{position: absolute; width: 100%; height: 100%; left: 0; top: 0;}

/* 홈 - 카드정보 */
.home .prepaid_box.blue{padding: 0; background-color: var(--changeColor) !important;
background-image: url('../images/filter/card_white_filter.png'); 
background-repeat: no-repeat; background-position: center; background-size: cover; 
border-radius: 1rem; overflow: hidden;}

.home .prepaid_box.blue .prepaid_header .prepaid_name.changeTxt{font-size: 1.2rem; padding-left: 0; color: var(--changeTxt) !important;}
.home .prepaid_box.blue .prepaid_num.changeTxt{padding: 1.2rem 0; text-align: center; color: var(--changeTxt) !important;}

/* 홈 - 투표/설문 d-day */
.vote_box .d_day{padding: 0 .8rem; height: 2rem; line-height: 2rem; display: inline-block; font-size: 1.2rem; font-weight: 800; 
color: var(--changeColor) !important; 
border-color: var(--changeColor) !important;
border-style : solid;
border-width: 1px;
border-radius: 1rem;}

/* 홈 카드 발급받기 버튼 */
.btn.blue.changeColor{background-color: var(--changeColor); color: var(--changeTxt);}

/* 홈 카드 발급 전 텍스트 */
.id_card_box .id_info{text-align: center; color: var(--changeTxt); position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* 네비게이션바 */
.quick_link {position:fixed; left:0; right:0; bottom:0; z-index:100; border-top:1px solid #E4E6EF; text-align:center; background:#fff; box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);}
.quick_link li {float:left; width:calc(100% / 5);}
.quick_link.type2 li {float:left; width:calc(100% / 4);}
.quick_link.type3 li {float:left; width:calc(100% / 2);}
.quick_link a {display:block; padding:0.7rem 0; font-size:1rem; line-height:1.2; color: #212329;}
.quick_link .demo-icon {display:block; margin:0 auto 0.4rem; width: 2.4rem; height: 2.4rem; color: #9B9FB1;}
.quick_link li.on a {color: var(--changeColor) !important; font-weight:700;}
.quick_link li.on .demo-icon{color: var(--changeColor) !important;}

.quick_link li.pay a{ display:block; margin: .4rem auto; width: 4.8rem; height: 4.8rem; border-radius: 50%;
background: var(--changeColor) url('../images/filter/payment_white_filter.png') no-repeat center / 5rem; overflow: hidden;}

.quick_link li.pay a .demo-icon{color: var(--changeTxt) !important; font-size: 2.2rem; margin-top: .4rem; }

/* 가맹점 메인 */
.franchise .main_qr_box{position: relative; padding: 2rem 2.4rem 2.4rem; width: calc(100% - 6rem); margin: 0 auto; background: var(--changeColor) url('../images/filter/qr_bg.png') no-repeat center / cover; border-radius: 2rem; text-align: center; box-shadow: 0 15px 30px rgba(8, 16, 57, 0.25);}
.franchise .main_qr_box p{padding: 1.2rem 0 2rem; color: var(--changeTxt); font-size: 1.8rem; font-weight: 700;}