.title_box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title_box strong {
  display: inline-block;
  font-size: 30px;
}
.title_box ul {
  display: flex;
}
.title_box ul li {
  position: relative;
  padding-left: 26px;
  opacity: 0.3;
}
.title_box ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.title_box ul li.list1::before {
  background-image: url("../../../assets/images/icons/icon_01.png");
}
.title_box ul li.list2::before {
  background-image: url("../../../assets/images/icons/icon_02.png");
}
.title_box ul li.list3::before {
  background-image: url("../../../assets/images/icons/icon_03.png");
}
.title_box ul li.active {
  color: #4d47c3;
  font-weight: 700;
  opacity: 1;
}
.title_box ul li ~ li {
  margin-left: 26px;
}

.cart table.type1 tbody td ~ td {
  border-left: 1px solid #e0e0e0;
}
.cart .cart_title {
  display: block;
  padding-bottom: 70px;
  text-align: center;
  font-size: 34px;
}
.cart .cart_title em {
  color: #4d47c3;
}
.cart .cart_title span {
  display: inline-block;
  margin-left: 14px;
  font-size: 24px;
  font-weight: 400;
}
.cart .no_cart {
  padding-top: 80px;
}
.cart .no_cart img {
  display: block;
  width: 380px;
  margin: 0 auto;
}
.cart .cart_container {
  padding-top: 80px;
}
.cart .cart_container .related_txt {
  text-align: center;
  margin-top: 30px;
}
.cart .cart_container .related_txt ul {
  display: inline-block;
  margin-top: -16px;
}
.cart .cart_container .related_txt ul li {
  display: inline-block;
  margin-left: 16px;
  margin-top: 16px;
}
.cart .cart_container .related_txt ul li a {
  display: block;
  padding: 6px 16px;
  border-radius: 20px;
  background-color: #f4f4f4;
  font-size: 16px;
}
.cart .cart_container .search_box {
  margin-top: 30px;
}
.cart .cart_container .search_box .table_box {
  margin-top: 12px;
}
.cart .cart_container .search_box .table_box table.type1 tbody td {
  padding: 20px 10px;
}
.cart .cart_container .search_box .book_info_box {
  display: flex;
  width: 100%;
  position: relative;
  padding: 0 10px;
}
.cart .cart_container .search_box .book_info_box .remove_btn {
  position: absolute;
  right: 10px;
  top: 0;
  width: 24px;
  height: 24px;
  background: url("../../../assets/images/icons/icon_cart_x.png") no-repeat center/contain;
}
.cart .cart_container .search_box .book_info_box img {
  display: block;
  width: 140px;
  cursor: pointer;
}
.cart .cart_container .search_box .book_info_box > div {
  padding-left: 18px;
}
.cart .cart_container .search_box .book_info_box .book_info .book_info_title {
  display: inline-block;
  padding-top: 8px;
  margin-bottom: 10px;
  font-size: 24px;
  cursor: pointer;
}
.cart .cart_container .search_box .book_info_box .book_info .book_info_title:hover {
  text-decoration: underline;
}
.cart .cart_container .search_box .book_info_box .book_info p {
  font-size: 12px;
}
.cart .cart_container .search_box .book_info_box .book_info p.author {
  font-size: 13px;
  padding-bottom: 4px;
}
.cart .cart_container .search_box .book_info_box .book_info .pay {
  padding-top: 10px;
}
.cart .cart_container .search_box .book_info_box .book_info .pay em {
  color: #4d47c3;
  font-size: 20px;
  font-weight: 700;
}
.cart .cart_container .search_box .book_info_box .book_info .pay strong {
  padding-left: 8px;
  display: inline-block;
  font-size: 20px;
}
.cart .cart_container .search_box .book_info_box .book_info .pay span {
  display: inline-block;
  margin-left: 8px;
  font-size: 13px;
  text-decoration: line-through;
  color: #999;
}
.cart .cart_container .search_box .increase_box {
  margin: 0 auto;
}
.cart .cart_container .search_box .amount {
  font-size: 20px;
}
.cart .cart_container .cart_amout_box {
  margin-top: 80px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}
.cart .cart_container .cart_amout_box table.type1 thead tr th {
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}
.cart .cart_container .cart_amout_box table.type1 tbody tr td {
  padding: 20px 0;
}
.cart .cart_container .cart_amout_box table.type1 tbody tr td ~ td {
  border-left: 0;
}
.cart .cart_container .cart_amout_box .order_box strong {
  font-weight: 400;
}
.cart .cart_container .cart_amout_box .order_box strong em {
  margin-right: 4px;
  font-weight: 700;
  font-size: 28px;
}
.cart .cart_container .cart_amout_box .order_box p {
  padding-top: 10px;
  font-size: 13px;
}
.cart .cart_container .cart_amout_box .order_box p em {
  font-weight: 700;
}
.cart .cart_container .cart_amout_box .ship_box .plus_ship_btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../../../assets/images/icons/cart_plus.png") no-repeat center/contain;
}
.cart .cart_container .cart_amout_box .ship_box .minus_ship_btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../../../assets/images/icons/cart_minus.png") no-repeat center/contain;
}
.cart .cart_container .cart_amout_box .ship_box strong {
  display: inline-block;
  width: calc(100% - 48px);
  font-weight: 400;
}
.cart .cart_container .cart_amout_box .ship_box strong em {
  margin-right: 4px;
  font-weight: 700;
  font-size: 28px;
}/*# sourceMappingURL=CartPage.css.map */