.search {
    .search_title {
        display: block;
        text-align: center;
        font-size: 38px;

        em {
            color: #4d47c3;
        }
        span {
            display: inline-block;
            margin-left: 14px;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .no_search {
        padding-top: 80px;
        img {
            display: block;
            width: 500px;
            margin: 0 auto;
        }
    }
    .search_container {
        padding-top: 80px;

        .related_txt {
            text-align: center;
            margin-top: 30px;

            .related_label {
                display: inline-block;
                position: relative;
                width: 91px;
                color: #4d47c3;
                font-size: 16px;
                font-weight: 700;
                text-align: left;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 8px;
                    background-color: #e0e0e0;
                }
            }
            ul {
                display: inline-block;
                margin-top: -16px;
                li {
                    display: inline-block;
                    margin-left: 16px;
                    margin-top: 16px;
                    a {
                        display: block;
                        padding: 6px 16px;
                        border-radius: 20px;
                        background-color: #f4f4f4;
                        font-size: 16px;
                    }
                }
            }
        }

        .search_box {
            margin-top: 40px;

            .table_box {
                margin-top: 12px;
                table.type1 {
                    tbody {
                        td {
                            padding: 20px 10px;
                        }
                    }
                }
            }

            .book_info_box {
                display: flex;
                // align-items: center;

                img {
                    display: block;
                    width: 140px;
                    cursor: pointer;
                }

                > div {
                    padding-left: 18px;
                }
                .book_info {
                    .book_tag_list {
                        display: flex;
                        gap: 6px;
                        span {
                            display: inline-block;
                            padding: 0 10px;
                            height: 22px;
                            line-height: 22px;
                            color: #fff;
                            border-radius: 4px;
                            font-size: 12px;
                            &.sky {
                                background: linear-gradient(
                                    to left,
                                    #72c4e2,
                                    #5f93d9
                                );
                            }
                            &.green {
                                background: linear-gradient(
                                    to right,
                                    #4bac9d,
                                    #70c799
                                );
                            }
                            &.orange {
                                background: linear-gradient(
                                    91deg,
                                    #ff6371 0%,
                                    #ff9062 100%
                                );
                            }
                        }
                    }

                    .book_info_title {
                        display: inline-block;
                        padding-top: 8px;
                        margin-bottom: 10px;
                        font-size: 20px;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    p {
                        font-size: 12px;
                        &.author {
                            font-size: 13px;
                            padding-bottom: 4px;
                        }
                    }

                    .pay {
                        padding-top: 10px;
                        em {
                            color: #4d47c3;
                            font-size: 18px;
                            font-weight: 700;
                        }
                        strong {
                            padding-left: 8px;
                            display: inline-block;
                            font-size: 18px;
                        }
                        span {
                            display: inline-block;
                            margin-left: 8px;
                            font-size: 12px;
                            text-decoration: line-through;
                            color: #999;
                        }
                    }
                    .star_grade {
                        display: inline-block;
                        margin-top: 10px;
                        position: relative;
                        padding-left: 18px;
                        font-size: 16px;
                        font-weight: 500;
                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 14px;
                            height: 14px;
                            background: url('../../../assets/images/icons/icon_star.png')
                                no-repeat center / contain;
                        }
                    }
                }
            }
        }
    }
}
