<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>[토끼책방]</title>
        <!-- common css -->
        <link rel="stylesheet" href="/assets/css/common.css" />
        <!-- common js -->
        <script src="/assets/js/includeLayout.js"></script>
        <script src="/assets/js/common.js"></script>
    </head>
    <body>
        <!-- header -->
        <header></header>
        <!-- // header -->

        <!-- wrap -->
        <div id="wrap">
            <!-- main -->
            <main>
                <div class="con_wrap">작업 부분 입니다.</div>
            </main>

            <!-- footer -->
            <footer></footer>
            <!-- // footer -->
        </div>
    </body>
</html>
