@charset "utf-8";

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */

/* font-face */
/* NotoSansKR */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/NotoSansKR-Regular.otf') format("opentype"),
    url('../fonts/NotoSansKR-Regular.woff') format("woff")
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src:url('../fonts/NotoSansKR-Bold.otf') format("opentype"),
    url('../fonts/NotoSansKR-Bold.woff') format("woff")
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src:url('../fonts/NotoSansKR-Black.otf') format("opentype"),
    url('../fonts/NotoSansKR-Black.woff') format("woff")
}
/* 로고용 */
/* @font-face {
    font-family: 'HSJiptokki-Round';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Round.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
} */

/* Reset */
body *{box-sizing: border-box; outline: none;}
body.fixed{overflow-y: hidden;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption{margin:0;padding:0;}
body{-webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;background:#fff;}
body,input,select,textarea,button{border:none; font-size:14px; font-family: 'Noto Sans KR', 'HSJiptokki-Round', sans-serif; color:#333333;}
ul,ol,li{list-style:none;}
table{border-spacing:0;}
img,fieldset{border:0;}
address,cite,code{font-style:normal;font-weight:normal;}
em,i {font-style:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,legend{overflow: hidden; display:block; position:absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px);}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#333333;text-decoration:none;}
button{cursor: pointer; color: #333333; background-color: transparent; outline: none; font-size: 16px;}
caption{position: relative;}
#wrap{min-width:1400px;}

/* Form */
input[type=password],
input[type=tel],
input[type=time],
input[type=text],
input[type=search],
input[type=email],
input[type=file],
input[type=url],
input[type=number],
input[type=date],textarea{font-size:14px; color:#333333; border:1px solid #e0e0e0; background-color:#fff; transition: all 0.5s; box-sizing: border-box; vertical-align:middle; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
pre{white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; font-family: 'Noto Sans KR', sans-serif;}
input[type=password]::-moz-reveal,
input[type=password]::-ms-reveal{display: none; width: 0; height: 0;}
input[type=email],
input[type=number],
input[type=password],
input[type=text] {padding: 0 16px; height: 40px; line-height: 40px; border-radius: 4px;}
input::-webkit-input-placeholder{color:#c4c4c4; font-size:14px; line-height:100%;}
input:focus,
textarea:focus {border: 1px solid #A7A3FF !important;}
textarea{padding: 10px 16px; border:1px solid #e1e1e1;}
textarea::-webkit-input-placeholder{color:#c4c4c4;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none; margin: 0;}
input[type=number]{-moz-appearance:textfield;}
input[type=text]::-ms-clear{display: none;}
select{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand{display:none;}

input[type=number][readonly],
input[type=tel][readonly],
input[type=text][readonly],
input[type=password][readonly],
input[type=email][readonly],
input[type=search][readonly]{-webkit-appearance:none; font-size:14px; padding: 0 16px; background: #f8f8f8; border: 1px solid #e0e0e0; color: #333333;}
input[type=tel][disabled],
input[type=text][disabled],
input[type=password][disabled],
input[type=search][disabled],
input[type=email][disabled]{-webkit-appearance:none; font-size:14px; padding: 0 16px; background: #f8f8f8; border: 1px solid #e0e0e0; color: #c4c4c4;}
select:disabled{color: #c4c4c4; background-color: #f8f8f8; border: 1px solid #e0e0e0; cursor: default;}
textarea[readonly],
textarea[disabled]{padding:12px;color:#e1e1e1; font-weight:normal; line-height:100%; height:40px; background:#f8f8f9;border:1px solid #e1e1e1;}
.clear {clear:both;}
.clear:after {content:""; display:block; clear:both;}
.left{float: left;}
.right{float: right;}

/* 텍스트박스(공통사항)-자동완성 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #333 !important;
}

/* 인풋 커스텀 */
.inp_search_wrap{width: 100%; text-align: center;}
.inp_search_wrap.dis_inblock{width: auto; text-align: center;}
.inp_search_wrap .search_btn{width: 40px; height: 40px; background: #4D47C3 url('../images/icons/icon_search.png') no-repeat center; border-radius: 4px;}

header .inp_search_wrap{position: relative; width: 550px; height:49px; border: 1px solid #4D47C3; text-align: left; border-radius: 16px 0 16px 0; overflow: hidden;}
header .inp_search_wrap select{color: #333333; font-size: 16px; height: 48px; line-height: 48px; background: url('../images/icons/icon_drop_down_r.png') no-repeat right 0 center;}
header .inp_search_wrap select:focus{background-image: url('../images/icons/icon_drop_up_r.png');}
header .inp_search_wrap input{padding: 0 26px 0 16px; height: 44px; line-height: 44px; width: calc(100% - 44px); border: none !important; font-size: 16px; border-top-left-radius: 16px;}
header .inp_search_wrap input::-webkit-input-placeholder{color:#666666; font-size:16px; line-height:100%;}
header .inp_search_wrap .search_btn{position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 54px; height: 48px; border-radius: 16px 0 0 0; background: #4D47C3 url('../images/icons/icon_search.png') no-repeat center;}

.custom_date{display: inline-block; position: relative; background-color: #fff; border: 1px solid #dddddd; border-radius: 5px;}
input.date{padding: 0 38px 0 10px; height: 40px; line-height: 41px; background-color: #fff; border: none !important; background: url('../images/icons/icon_date.png') no-repeat right 9px center !important; cursor: pointer; color: #333333 !important;}
input.date:focus{border:1px solid #A7A3FF !important; outline:none;}
.tilde{display: inline-block; width: 24px; text-align: center;}

/* 셀렉트 */
.select{padding:0 36px 0 16px; height: 40px; line-height: 40px; background: #fff url('../images/icons/select_down.png') no-repeat right 12px center; border-radius: 4px; border: 1px solid #e0e0e0; cursor: pointer;}
.select:focus{background-image: url('../images/icons/select_up.png'); border:1px solid #A7A3FF;}

/* 체크박스, 라디오*/
.label{padding: 0 0 0 32px;}
.label.single{padding: 0 0 2px 24px; background-size: contain;}

.ch_check + .label{background: url('../images/icons/check_off.png') no-repeat left center; cursor: pointer;}
.ch_check:checked + .label{background-image: url('../images/icons/check_on.png');}
.ch_check[type=checkbox][disabled] + .label{background-image: url('../images/icons/disabled_check_off.png');}

.ch_radio + .label{background: url('../images/icons/radio_off.png') no-repeat left center; cursor: pointer;}
.ch_radio:checked + .label{background-image: url('../images/icons/radio_on.png');}
.ch_radio[type=radio][disabled] + .label{background-image: url('../images/icons/disabled_radio_off.png'); color: #c4c4c4; cursor: default;}
.ch_radio:checked[type=radio][disabled] + .label{background-image: url('../images/icons/disabled_radio_on.png'); color: #c4c4c4; cursor: default;}

/* 스크롤 스타일 */
.scroll{overflow: auto;}
.scroll::-webkit-scrollbar{width: 4px; height: 4px;}
.scroll::-webkit-scrollbar-thumb{background-color: #e0e0e0; border-radius: 100px;}
.scroll::-webkit-scrollbar-track{background-color: #e5e5e5; border-radius: 100px; background-clip: padding-box; border: 3px solid transparent;}

/* textarea 가로 고정 */
textarea.re_ver{resize : vertical;}
textarea.re_none{resize: none;}

/* text 말줄임표 */
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}

/* vertical-align */
.ver_top{vertical-align: top;}
.ver_mid{vertical-align: middle;}
.ver_btm{vertical-align: bottom;}

/* text-align */
.txt_left{text-align: left;}
.txt_center{text-align: center;}
.txt_right{text-align: right;}

/* display */
.dis_block{display: block;}
.dis_inblock{display: inline-block;}
.dis_none{display: none;}

/* 가로사이즈 */
.w_64{width: 64px;}
.w_100{width: 100px;}
.w_120{width: 120px;}
.w_156{width: 156px;}
.w_200{width: 200px;}
.w_276{width: 276px;}
.w_400{width: 400px;}
.w_full{width: 100%;}
.w_minus210{width:calc(100% - 210px);}

/* 세로사이즈 */
/* .h_180{height: 180px;} */

/* margin, padding */
.marleft_4{margin-left: 4px;}
.marleft_6{margin-left: 6px;}
.marleft_10{margin-left: 10px;}
.marleft_12{margin-left: 12px;}
.marleft_40{margin-left: 40px;}

.martop_4{margin-top: 4px;}
.martop_8{margin-top: 8px;}
.martop_10{margin-top: 10px;}
.martop_20{margin-top: 20px;}
.martop_24{margin-top: 24px;}
.martop_40{margin-top: 40px;}

/* 폰트컬러 */
.col_blue{color:#4D47C3;}
.col_grey{color:#666666;}

/* background-color */
.bg_grey{background-color: #f8f8f9;}

/* 폰트 사이즈 */
.fs_12{font-size: 12px !important;}
.fs_14{font-size: 14px;}
.fs_16{font-size: 16px;}
.fs_18{font-size: 18px;}
.fs_20{font-size: 20px;}
.fs_24{font-size: 24px;}

/* font weight */
.fw_normal{font-weight: 400;}
.fw_bold{font-weight: 700;}
.fw_ebold{font-weight: 900;}

/* letter-spacing */
.letter1{letter-spacing: -1px;}

/* button */
.btn_center{text-align: center; position: relative;}
.btn_center * ~ *{margin-left: 8px;}

.btn_right{text-align: right; position: relative;}
.btn_right * ~ *{margin-left: 8px;}
.btn_left{text-align: left; position: relative;}
.btn_left * ~ *{margin-left: 8px;}

.btn_center .small ~ .small{margin-left: 4px;}
.btn_center .white_btn{position: absolute; right: 0; top: 0;}

.white_btn{display: inline-block; height: 40px; line-height: 39px; background-color: #fff; color: #666666; border: 1px solid #e0e0e0; border-radius: 4px; font-weight: 500; font-size: 16px; text-align: center !important; cursor: pointer;}
.black_btn{display: inline-block; height: 40px; line-height: 40px; background-color: #333333; color: #fff; border-radius: 4px; font-weight: 500; font-size: 16px; text-align: center !important; cursor: pointer; vertical-align: middle;}
.blue_btn{display: inline-block; height: 40px; line-height: 40px; background-color: #4D47C3; color: #fff; border-radius: 4px; font-weight: 500; font-size: 16px; text-align: center !important; cursor: pointer; vertical-align: middle;}
.blue_btn.disabled{background-color: #c4c4c4; pointer-events: none;}

.black_btn.big{height: 50px; line-height: 50px;}
.blue_btn.big{height: 50px; line-height: 50px;}

.black_btn.small{height: 28px; line-height: 28px; font-size: 14px;}
.blue_btn.small{height: 28px; line-height: 28px; font-size: 14px;}

.increase_box{border: 1px solid #e0e0e0; width: 127px;}
.increase_box input{padding: 0 4px !important; width: 64px; height: 32px; line-height: 32px; text-align: center; border-radius: 0; border: none !important; font-weight: 700; background-color: #fff !important;}
.increase_box input:focus{border: none !important;}
.increase_box input[readonly]{color: #c4c4c4;}
.increase_box *{position: relative;}
.increase_box .plus_btn{margin-left: -3px;}
.increase_box .plus_btn::before{content: ''; position: absolute; left: 0; top: 0; width: 1px; height: 32px; background-color: #e0e0e0;}
.increase_box .minus_btn::after{content: ''; position: absolute; right: 0; top: 0; width: 1px; height: 32px; background-color: #e0e0e0;}
.increase_box button{width: 32px; height: 32px; background-color: #fff;}
.minus_btn i{display: inline-block; width: 16px; height: 16px; background: url('../images/icons/icon_minus.png') no-repeat center;}
.plus_btn i{display: inline-block; width: 16px; height: 16px; background: url('../images/icons/icon_plus.png') no-repeat center;}

.disabled .increase_box button{pointer-events: none;}
.disabled .minus_btn i{background: url('../images/icons/icon_minus_disabled.png') no-repeat center;}
.disabled .plus_btn i{background: url('../images/icons/icon_plus_disabled.png') no-repeat center;}

.x_btn{width: 16px; height: 16px; background: url('../images/icons/icon_x.png') no-repeat center;}

/* paging */
.paging_wrap{position: relative;}
.paging_wrap .bluebor_btn{position: absolute; left: 0; top: 0;}
.paging ul{display:inline-block;}
.paging ul li{float: left;}
.paging ul li a{display: block; height: 24px; line-height: 24px; border-radius: 4px; color: #333333; background-repeat: no-repeat; background-position: center; font-size: 12px; transition: all 0.5s;}
.paging ul li a:not(.paging_num){width: 24px;}
.paging ul li .paging_num{padding: 0 8px;}
.paging ul li.on .paging_num,
.paging ul li:hover .paging_num{background-color: #F0EFFF; color: #4D47C3; font-weight: 700;}
.paging ul li .paging_first{background-image: url('../images/icons/icon_first.png');}
.paging ul li .paging_prev{background-image: url('../images/icons/icon_prev.png');}
.paging ul li .paging_next{background-image: url('../images/icons/icon_next.png');}
.paging ul li .paging_last{background-image: url('../images/icons/icon_last.png');}

/* table */
table .ellipsis{display: table;table-layout: fixed;width: 100%;white-space: nowrap;}
table .ellipsis *{display: table-cell;overflow: hidden;text-overflow: ellipsis;}

table .lock a{position: relative; padding-left: 24px; cursor: pointer;}
table .lock a::before{content: ''; width: 20px; height: 20px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background: url('../images/icons/icon_lock.png') no-repeat left center;}

table td i.lock{display: inline-block; background: url('../images/icons/icon_lock.png') no-repeat center; width: 20px; height: 20px; vertical-align: bottom;}

table tr.notice .ellipsis{font-weight: 700;}
table td.col_blue a,
table td.col_blue a{color:#4D47C3}

table tr.disabled *:not(.col_blue a, .col_blue a){color: #c4c4c4;}

table.txt_left *,
table.txt_left1 tbody tr th:nth-child(1),
table.txt_left1 tbody tr td:nth-child(1),
table.txt_left2 tbody tr td:nth-child(2),
table.txt_left3 tbody tr td:nth-child(3),
table.txt_left4 tbody tr td:nth-child(4){text-align: left;}

table{width:100%;}
table th{font-weight:700;}
table .required:after{content:'*'; color:#e82828; margin-left:4px;}
table .speaker{position: relative; display: inline-block; padding-left: 22px; padding-right: 6px; color: #4D47C3; font-weight: 700;}
table .speaker:after{position: absolute; left: 0; top: 50%; transform: translateY(-50%); content:''; width: 18px; height: 18px; background: url('../../assets/images/icons/icon_notice_service.png') center / contain;}
table.layout_fixed{table-layout:fixed;}

table.type1{border-bottom: 1px solid #c4c4c4;}
table.type1 thead th{padding: 8.5px 0; background-color: #f7f7f7; border-top: 1px solid #c4c4c4;}
table.type1 tbody td{padding: 9.5px 8px; border-top: 1px solid #e0e0e0; text-align: center;}
table.type1 tfoot th{position: relative; padding: 24px 0; min-height: 68px; background-color: #f8f8f8; border-top: 1px solid #c4c4c4;}
table.type1 tfoot th span{position: absolute; max-width: 480px; text-align: right; right: 40px; top: 50%; transform: translateY(-50%); display: inline-block; font-size: 24px; color: #4D47C3;}
table.type1 tbody tr:hover td:not(.nohover){background-color: #fbfbfb;}
table.type1 tbody td.increase{padding: 8.5px 0; text-align: center;}
table.type1 tbody td.increase .increase_box{margin: 0 auto;}

table.type2{border-top: 1px solid #c4c4c4; border-bottom: 1px solid #c4c4c4;}
table.type2 tbody th{padding: 18px 30px; background-color: #f7f7f7; border-bottom: 1px solid #e4e4e4;}
table.type2 tbody td{padding: 8px 16px; min-height: 56px; height: auto; border-bottom: 1px solid #e0e0e0;}
table.type2 tbody tr:last-child th,
table.type2 tbody tr:last-child td{border-bottom: none;}
table.type2 .table_con{padding: 16px 8px;}

table.type1.type3 thead th ~ th,
table.type1.type3 tbody td ~ td{border-left: 1px solid #e0e0e0;}

/* 전체공통 */
main{overflow: hidden; min-height: calc(100vh - 265px);}
main:not(.index){padding-bottom: 80px;}

.con_wrap{width: 1200px; margin: 0 auto;}
#mainDimLayer{display:block; width:100%; height:100%; background-color: rgba(0, 0, 0, 0.4); position:fixed; left:0; top:0px; margin:0; padding:0;z-index:101;}
/* .subDimLayer{display: block;width: 100%;height:100%; background-color: rgba(0, 0, 0, 0.2); position: fixed;left: 0;top: 0px;margin: 0;padding: 0;z-index: 103;} */

.grey_tag {
    display: inline-block;
    color: #666;
    font-size: 12px;
}

/* tab */
.tab_menu_type1 li{float: left; width: calc(100% / 2);}
.tab_menu_type1 li button{padding: 18px 0; width: 100%; text-align: center;}
.tab_menu_type1 li.active button{border-bottom: 2px solid #4D47C3; color: #4D47C3; font-weight: 700;}

.tab_menu_type2 li{position: relative; float: left; width: calc(100% / 3); padding-top: 16px;}
.tab_menu_type2.half li{width: calc(100% / 2);}
.tab_menu_type2 li ~ li::before{content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 50px; background-color: #e0e0e0;}
.tab_menu_type2 li button,
.tab_menu_type2 li a{display: block; padding-top: 74px; padding-bottom: 16px; width: 100%; font-size: 16px; text-align: center; border-bottom: 1px solid #e0e0e0;}
.tab_menu_type2 li.active button,
.tab_menu_type2 li.active a{border-bottom: 3px solid #4D47C3; color: #4D47C3; font-weight: 700;}

.tab_menu_type2 li button.qa,
.tab_menu_type2 li a.qa{background: url('../images/icons/icon_qa.png') no-repeat center top;}
.tab_menu_type2 li button.notice,
.tab_menu_type2 li a.notice{background: url('../images/icons/icon_notice.png') no-repeat center top;}
.tab_menu_type2 li button.faq,
.tab_menu_type2 li a.faq{background: url('../images/icons/icon_faq.png') no-repeat center top;}

.tab_menu_type2 li button.general,
.tab_menu_type2 li a.general{background: url('../images/icons/icon_login_general.png') no-repeat center top;}
.tab_menu_type2 li button.business,
.tab_menu_type2 li a.business{background: url('../images/icons/icon_login_business.png') no-repeat center top;}

.tab_menu_type2 li.active button.qa,
.tab_menu_type2 li.active a.qa{background: url('../images/icons/icon_qa_active.png') no-repeat center top;}
.tab_menu_type2 li.active button.notice,
.tab_menu_type2 li.active a.notice{background: url('../images/icons/icon_notice_active.png') no-repeat center top;}
.tab_menu_type2 li.active button.faq,
.tab_menu_type2 li.active a.faq{background: url('../images/icons/icon_faq_active.png') no-repeat center top;}

.tab_menu_type2 li.active button.general,
.tab_menu_type2 li.active a.general{background: url('../images/icons/icon_login_general_active.png') no-repeat center top;}
.tab_menu_type2 li.active button.business,
.tab_menu_type2 li.active a.business{background: url('../images/icons/icon_login_business_active.png') no-repeat center top;}

.tab_menu_type3{overflow: hidden; height: 51px;}
.tab_menu_type3 li{float: left; width: calc(100% / 6);}
.tab_menu_type3 li button,
.tab_menu_type3 li a{display: block; padding: 12px 0 13px; width: 100%; font-size: 16px; text-align: center; background-color: #f8f8f8; color: #666666; border: 1px solid #e0e0e0; border-right: 0;}
.tab_menu_type3 li:last-child button,
.tab_menu_type3 li:last-child a{border-right: 1px solid #e0e0e0;}
.tab_menu_type3 li.active button,
.tab_menu_type3 li.active a{border-bottom: 0; border-top: 4px solid #4D47C3; background-color: #fff; font-weight: 700; color: #4D47C3;}
.tab_menu_type3 li.disabled a{background-color: #ededed; color: #c4c4c4; cursor: default;}

.mypage .tab_menu_type3 li{width: calc(100% / 5);}
.tab_menu_type3.half li{width: calc(100% / 2);}
.tab_menu_type3.portfolio{height: 70px;}
.tab_menu_type3.portfolio li{width: calc(100% / 9);}
.tab_menu_type3.portfolio li a,
.tab_menu_type3.portfolio button{height: 70px; line-height: 20px;}

/* modal */
.modal_wrap{background: #ffffff;box-sizing: border-box; display: none; border-radius: 16px; position: fixed; top: 50%;left: 50%;
    -webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);display: none;z-index: 102;}
.modal_wrap.active{display: block;}

.modal_wrap:not(.confirm,.alert,.mini) .modal_section{padding: 32px 34px;}
.modal_wrap .modal_header{position: relative;}
.modal_wrap .modal_header .modal_title{text-align: center; display: block; font-size: 16px;}
.modal_wrap .modal_header .x_btn{position: absolute; right: -10px; top: -10px;}
.modal_wrap .modal_contents{padding-top: 24px;}
.modal_wrap:not(.confirm,.alert,.mini) .btn_center{padding-top: 24px;}

.confirm .modal_text em{color: #4D47C3; font-weight: 700;}

/* header */
/* header{position:fixed;top:0;left:0;z-index:10;width:100%;background-color:#fff;} */
header{background-color:#fff; min-width: 1400px;}
header.active{box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);}
.service_menu{display: flex; justify-content: end;}
.service_menu li{position: relative; float: left;}
.service_menu li ~ li{padding-left: 16px; margin-left: 16px;}
.service_menu li ~ li::before{content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 8px; background-color: #e0e0e0;}
.service_menu li a{padding: 9px 0; display: block; color: #666666; font-size: 12px; cursor: pointer;}
.service_menu li a.col_blue{color:#4D47C3;}

.header_menu{display: flex; justify-content: space-between; align-items: center; padding: 20px 0;} 

.main_logo{text-align: center;}
.main_logo a{position: relative; height: 64px; display: block;}
.main_logo a img{display: inline-block; height: 100%; vertical-align: top; margin-top: -6px;}

/* .home_menu{padding: 23px 0;} */
.portfolio_menu{display: flex;justify-content: flex-end; padding-top: 3px;}
.portfolio_menu li ~ li{margin-left: 8px;}
.portfolio_menu li a{display: block; padding: 11px 16px 12px 56px; font-size: 15px; font-weight: 700; transition: all .3s; border-radius: 23px;}
.portfolio_menu li a.packing{background: #f4f4f4 url('../images/icons/icon_portfolio.png') no-repeat left 16px center;}
.portfolio_menu li a.order{background: #f4f4f4 url('../images/icons/icon_packing.png') no-repeat left 16px center;}
.portfolio_menu li a.portfolio{background: #f4f4f4 url('../images/icons/icon_order.png') no-repeat left 16px center;}
.portfolio_menu li a:hover{background-color: #4D47C3; color: #fff;}

.move_list{display: flex; align-items: center;}
.move_list li{position: relative;}
.move_list li ~ li{margin-left: 32px;}
.move_list li a{display: block; width: 36px; height: 36px; background-position: center; background-repeat: no-repeat; background-size: contain; cursor: pointer;}
.move_list li.basket a{background-image: url('../images/icons/icon_gnb_basket.png'); }
.move_list li.my a{background-image: url('../images/icons/icon_gnb_my.png');}
.move_list li.delivery a{background-image: url('../images/icons/icon_gnb_delivery.png');}
.move_list li.new a::after{content: ""; position: absolute; right: 0; top: 0; width: 6px;height: 6px; border-radius: 50%; background-color: #F45F5F;}


/* GNB */
.gnb_menu{border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; z-index: 1; box-shadow:rgba(0, 0, 0, 0.02) 0px 10px 10px 0px;}
.gnb_bar{position: relative; display: flex; justify-content: space-between; align-items: center;}
.gnb_bar > li{flex: 1;}
.gnb_bar > li .gnb{position: relative; display: block; padding: 16px 0; margin: 0 auto; width: 100%; font-size: 16px; color: #333333; font-weight: 700; line-height: 22px;}
.gnb_bar > li .gnb.category{padding-left: 32px; background: url('../images/icons/menu.png') no-repeat left 25% center / 32px;}

.gnb_bar .sub_nav {opacity: 0;overflow: hidden;padding: 0;position: absolute;top: 54px;left: 0;width: 100%;height: 0;border: 1px solid #ededed;background-color: #fff;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);transition: all .4s;z-index: 99;}
.gnb_bar > li:hover .sub_nav,
.gnb_bar > li .sub_nav.active { opacity: 1; height: 446px; padding: 24px 52px 24px 0;}

.gnb_bar > li .gnb:before{content:'';position:absolute;bottom:0;left:0;width:0;height:2px;background-color:transparent; transition: width .2s;}
.gnb_bar > li .gnb:hover,
.gnb_bar > li .gnb.active{color: #4D47C3;}
.gnb_bar > li .gnb:hover:before,
.gnb_bar > li .gnb.active:before{width:100%; background-color:#4D47C3; outline: 1px solid #000;}
.gnb_bar > li .gnb.category:hover{background-image: url('../images/icons/menu_hover.png');}
.gnb_bar > li .gnb.category.active {
    background-image: url('../images/icons/menu_hover.png');
}

.sub_nav .depth01 .sub_menu{display: none; position: absolute; top: 0; padding: 24px 0; margin-left: 220px; width: calc(100% - 220px);}
.sub_nav .depth01 > li{display: flex; align-items: baseline;}
/* .sub_nav .depth01 > li ~ li{margin-top: 12px;} */
.sub_nav .depth01 > li > a{position: relative; display: block; padding: 8px 8px 8px 34px; width: 220px; font-weight: 700; transition: all .25s;}
.sub_nav .depth01 > li > a::before{content: ''; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); width: 2px; height: 12px; background-color: #c4c4c4; transition: all .3s;}
.sub_nav .depth01 > li:hover > a,
.sub_nav .depth01 > li.active > a{background-color: #4D47C3; color: #fff;}
.sub_nav .depth01 > li:hover > a::before,
.sub_nav .depth01 > li.active > a::before{background-color: #fff;}

.sub_nav .gnb_thumbnail > li > a{display: block; padding: 8px 8px 8px 34px; width: 220px; color: #666; transition: all .2s;}

.sub_nav .gnb_thumbnail > li:hover > a,
.sub_nav .gnb_thumbnail > li.active > a{background-color: #A7A3FF; color: #fff;}

.gnb_thumbnail li a{width: 228px; display: block; padding-left: 10px;}
.gnb_thumbnail li img{width: 100%;}

.sub_nav .hover_thumb_menu > li:hover .sub_menu,
.sub_nav .hover_thumb_menu > li.active .sub_menu,
.sub_menu.active{display: flex !important;}

/* footer */
.family_site{padding: 16px 0 14px; background-color: #ededed;}
.family_site .con_wrap{text-align: right;}
.family_site strong{vertical-align: middle; font-weight: 400;}
.family_site li{display: inline-block;}
.family_site li a{margin-left: 16px; display: block;}
.family_site li a.serveone{width: 140px; height: 22px; background: url('../images/footer_serveone.png') no-repeat center/ contain;}
.family_site li a.vmembers{width: 124px; height: 22px; background: url('../images/footer_vmembers.png') no-repeat center;}
.family_site li a.sevemate{width: 121px; height: 22px; background: url('../images/footer_sevemate.png') no-repeat center;}
.family_site li a.owner{width: 94px; height: 22px; background: url('../images/footer_owner.png') no-repeat center;}

.footer_menu{ background-color: #333333;}
.footer_menu *{color: #fff;}
.footer_menu ul{display: flex; justify-content: center;}
.footer_menu li ~ li{position: relative; padding-left: 24px; margin-left: 24px;}
.footer_menu li~li::before{content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 8px; background-color: rgba(255, 255, 255, 0.4);}
.footer_menu li a{padding: 24px 0; display: block;}