.mypage_container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    .main_container {
        width: 800px;
        &_wrap > h3 {
            text-align: left;
            font-size: 25px;
            margin: 0;
            margin-left: 20px;
            margin-bottom: 40px;
        }
        &_wrap > p {
            text-align: left;
            margin-bottom: 30px;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 400;
        }
        &_box {
            width: 800px;
            border: 1px solid #4d47c3;
            border-radius: 15px;
            margin-left: 20px;
            background-color: #4d47c307;
        }
    }
    .profile {
        text-align: center;
        margin-top: 50px;
        position: relative;
        img {
            width: 150px;
            height: 170px;
            cursor: pointer;
            &:nth-child(2) {
                position: absolute;
                width: 30px;
                height: 25px;
                bottom: 5%;
                right: 41%;
            }
        }
    }
    .input_box {
        margin-top: 70px;
        margin-bottom: 40px;
        padding: 0 80px;
        &_name,
        &_email,
        &_phone {
            display: block;
            font-weight: 700;
            font-size: 18px;
        }
        &_name {
            position: relative;
        }
        &_name::after,
        &_email::after {
            content: '';
            color: red;
            font-size: 13px;
            top: 0;
            position: absolute;
        }
        &_phone + div {
            display: flex;
            align-items: end;
        }
    }
    .name_wrap,
    .email_wrap,
    .email_wrap + div,
    .mypage_phone_box {
    }
    #mypageName {
        width: 78%;
        margin-top: 20px;
        border: 2px solid #4d47c381;
    }
    #mypageName::placeholder,
    #mypagePhone::placeholder,
    #mypageEmail::placeholder {
        color: #333;
    }
    .mypage_email_box {
        position: relative;
    }
    .mypage_email_box,
    .mypage_phone_box {
        margin-top: 40px;
    }
    .email_wrap + div {
        display: flex;
        align-items: end;
    }
    .check_img {
        width: 13px;
        position: absolute;
        bottom: -21px;
        left: 3px;
        + p {
            position: absolute;
            font-size: 12px;
            color: #4d47c3;
            bottom: -22px;
            left: 22px;
            font-weight: 700;
        }
    }
    #mypageEmail,
    #mypagePhone {
        flex: 4;
        margin-right: 20px;
        margin-top: 20px;
        border: 2px solid #4d47c381;
        transition: 0;
        + button {
            flex: 1;
        }
    }
    .input_btn_box {
        margin-top: 90px;
        text-align: right;
        button {
            margin-left: 20px;
            border-radius: 6px;
            width: 120px;
        }
    }
    .psd_change_container {
        width: 800px;
        margin-top: 80px;
        > p {
            margin-bottom: 30px;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 400;
        }
    }
    .psd_change_box {
        width: 800px;
        border: 1px solid #4d47c3;
        border-radius: 15px;
        margin-left: 20px;
    }
    .psd_change_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: #4d47c307;
    }
    .psd_change_left {
        margin-left: 40px;
        span {
            opacity: 0.6;
            font-weight: 700;
        }
        p {
            font-size: 18px;
        }
    }
    .psd_change_right button {
        font-size: 14px;
        margin-right: 40px;
    }
    .account_delete_box {
        width: 800px;
        border: 1px solid #4d47c3;
        border-radius: 15px;
        margin-left: 20px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #4d47c307;
        span {
            font-size: 16px;
            margin-left: 40px;
            opacity: 0.8;
        }
        button {
            font-size: 14px;
            margin-right: 40px;
        }
    }
    .account_delete_container > p {
        margin-bottom: 30px;
        margin-left: 20px;
        margin-top: 80px;
        font-size: 20px;
        font-weight: 400;
    }
    .sidebar_container {
        width: 200px;
        height: 100%;
        display: flex;
        justify-content: left;
    }
    .sidebar_box {
        width: 200px;
        border-radius: 15px;
        border: 1px solid #4d47c3;
        padding-bottom: 20px;
        background-color: #4d47c307;
    }
    .sidebar_list {
        text-align: left;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        &_main,
        &_sub {
            margin-bottom: 19px;
            color: 333;
        }
        &_sub:hover a {
            color: #4d47c3;
            transition: 0.3s;
            font-weight: 500;
        }
        &_sub.focus {
            background-color: #4d47c320;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px #4d47c310;
            a {
                color: #4d47c3;
            }
        }
        &_main {
            font-weight: 600;
            padding-left: 30px;
            font-size: 16px;
        }
        &_sub {
            padding-left: 40px;
            font-size: 13px;
        }
    }
}
