.mypage_container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  font-family: sans-serif;
  margin-top: 80px;
}
/* main-container area */
.main_container {
  width: 800px;
  height: 500px;
}
.main_container > h3 {
  text-align: left;
  font-size: 25px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 40px;
}
.main_container > p {
  text-align: left;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
}
.main_container_box {
  width: 800px;
  border: 1px solid #4d47c3;
  border-radius: 15px;
  margin-left: 20px;
}
/* profile */
.profile {
  text-align: center;
  margin-top: 50px;
}
.profile img {
  width: 150px;
  height: 170px;
  position: relative;
  cursor: pointer;
}
/* before 적용이 왜 안될까 */
.profile img::before {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  border: 1px solid red;
}
/* input box area */
.input_box {
  margin-top: 70px;
  margin-bottom: 40px;
}
.name_wrap,
.email_wrap,
.email_wrap + div,
.mypage_phone_box {
  margin-left: 20px;
}
#mypage_name {
  width: 70%;
  margin-top: 20px;
}
#mypage_name::placeholder,
#mypage_phone::placeholder,
#mypage_email::placeholder {
  color: #333;
}
.input_box_name,
.input_box_email,
.input_box_phone {
  display: block;
  font-weight: 700;
  font-size: 18px;
}
.mypage_email_box,
.mypage_phone_box {
  margin-top: 40px;
}
.email_wrap + div {
  display: flex;
  align-items: end;
}
#mypage_email,
#mypage_phone {
  flex: 4;
  margin-right: 20px;
  margin-top: 20px;
}
#mypage_email + button,
#mypage_phone + button {
  flex: 1;
  margin-right: 10px;
}
.input_box_phone + div {
  display: flex;
  align-items: end;
}

.input_btn_box {
  margin-top: 90px;
  text-align: right;
  padding: 0 10px;
}
.input_btn_box button {
  margin: 0 10px;
  border-radius: 6px;
  width: 120px;
}

/* side-bar area */
.sidebar_container {
  width: 200px;
  height: 500px;
  display: flex;
  justify-content: left;
}
.sidebar_box {
  width: 170px;
  height: 500px;
  border-radius: 15px;
  border: 1px solid #4d47c3;
}
.sidebar_list {
  text-align: left;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}
.sidebar_list_main,
.sidebar_list_sub {
  margin-bottom: 19px;
  color: 333;
}
.sidebar_list_sub:hover a {
  color: #4d47c3;
  transition: 0.3s;
  font-weight: 500;
}
.sidebar_list_sub.focus {
  background-color: #4d47c320;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px #4d47c310;
}
.sidebar_list_sub.focus a {
  color: #4d47c3;
}
.sidebar_list_main {
  font-weight: 600;
  padding-left: 30px;
  font-size: 16px;
}

.sidebar_list_sub {
  padding-left: 40px;
  font-size: 13px;
}
