.mypage_container {
    .mypage_status {
        margin: 60px 0 40px;
        padding: 30px 0;
        // background-color: #f4f4f4;
        border-radius: 16px;
        text-align: center;
        background-color: #4d47c307;
        border: 1px solid #4d47c3;

        ul {
            display: flex;
            li {
                position: relative;
                padding: 0 10px;
                width: calc(100% / 5);

                em {
                    position: relative;
                    display: block;
                    padding-top: 78px;
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: 56px;
                }

                em.rank {
                    background-image: url('../../../assets/images/icons/icon_mypage_rank.png');
                }
                em.order {
                    background-image: url('../../../assets/images/icons/icon_mypage_order.png');
                }
                em.qa {
                    background-image: url('../../../assets/images/icons/icon_mypage_qa.png');
                }
                em.payment {
                    background-image: url('../../../assets/images/icons/icon_mypage_payment.png');
                }
                em.point {
                    background-image: url('../../../assets/images/icons/icon_mypage_point.png');
                }
                em.custom {
                    background-image: url('../../../assets/images/icons/icon_mypage_custom.png');
                }
                strong {
                    display: inline-block;
                    padding-top: 16px;
                    font-size: 22px;
                    span {
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
            }
            li ~ li::before {
                content: '';
                width: 1px;
                height: 72px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: #e0e0e0;
            }
        }
    }

    .tab_menu_type3 {
        li {
            width: calc(100% / 5);
        }
    }

    .main_container {
        &_wrap > strong {
            display: inline-block;
            padding: 24px 0 18px;
            font-size: 20px;
        }
        &_box {
            border: 1px solid #4d47c3;
            border-radius: 15px;
            background-color: #4d47c307;
            .profile {
                text-align: center;
                margin-top: 50px;
                position: relative;
                img {
                    width: 150px;
                    height: 170px;
                    cursor: pointer;
                    &:nth-child(2) {
                        position: absolute;
                        width: 30px;
                        height: 25px;
                        bottom: 5%;
                        right: 41%;
                    }
                }
            }
            .input_box {
                margin-top: 70px;
                margin-bottom: 40px;
                padding: 0 80px;
                &_name,
                &_email,
                &_phone {
                    display: block;
                    font-weight: 700;
                    font-size: 18px;
                }
                &_name {
                    position: relative;
                }
                &_name::after,
                &_email::after {
                    content: '*';
                    color: red;
                    font-size: 13px;
                    top: 0;
                    position: absolute;
                }
                &_phone + div {
                    display: flex;
                    align-items: end;
                }
            }
        }
    }

    #mypageName {
        width: 78%;
        margin-top: 20px;
        border: 2px solid #4d47c381;
    }
    #mypageName::placeholder,
    #mypagePhone::placeholder,
    #mypageEmail::placeholder {
        color: #333;
    }
    .mypage_email_box {
        position: relative;
    }
    .mypage_email_box,
    .mypage_phone_box {
        margin-top: 40px;
    }
    .email_wrap + div {
        display: flex;
        align-items: end;
    }
    .check_img {
        width: 13px;
        position: absolute;
        bottom: -21px;
        left: 3px;
        + p {
            position: absolute;
            font-size: 12px;
            color: #4d47c3;
            bottom: -22px;
            left: 22px;
            font-weight: 700;
        }
    }
    #mypageEmail,
    #mypagePhone {
        flex: 4;
        margin-right: 20px;
        margin-top: 20px;
        border: 2px solid #4d47c381;
        transition: 0;
        + button {
            flex: 1;
        }
    }
    .input_btn_box {
        margin-top: 90px;
        text-align: right;
        button {
            margin-left: 10px;
            border-radius: 6px;
            width: 120px;
        }
    }
    .psd_change_container {
        margin-top: 80px;
        > p {
            margin-bottom: 30px;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 400;
        }
        .psd_change_box {
            border: 1px solid #4d47c3;
            border-radius: 15px;
            margin-left: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            background-color: #4d47c307;
        }
        .psd_change_left {
            margin-left: 40px;
            span {
                opacity: 0.6;
                font-weight: 700;
            }
            p {
                font-size: 18px;
            }
        }
        .psd_change_right {
            button {
                font-size: 14px;
                margin-right: 40px;
            }
        }
    }
    .account_delete_container {
        p {
            margin-bottom: 30px;
            margin-left: 20px;
            margin-top: 80px;
            font-size: 20px;
            font-weight: 400;
        }
        .account_delete_box {
            border: 1px solid #4d47c3;
            border-radius: 15px;
            margin-left: 20px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #4d47c307;
            span {
                font-size: 16px;
                margin-left: 40px;
                opacity: 0.8;
            }
            button {
                font-size: 14px;
                margin-right: 40px;
            }
        }
    }
}
