.sidebar_container {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: left;
    .sidebar_box {
        width: 200px;
        border-radius: 15px;
        border: 1px solid #4d47c3;
        padding-bottom: 20px;
        background-color: #4d47c307;
    }
    .sidebar_list {
        text-align: left;
        margin: 0;
        margin-top: 30px;
        padding: 0;
        &_main,
        &_sub {
            margin-bottom: 19px;
            color: 333;
        }
        &_sub:hover a {
            color: #4d47c3;
            transition: 0.3s;
            font-weight: 500;
        }
        &_sub.focus {
            background-color: #4d47c320;
            box-sizing: border-box;
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-radius: 5px;
            box-shadow: 0 0 10px #4d47c310;
            a {
                color: #4d47c3;
            }
        }
        &_main {
            font-weight: 600;
            padding-left: 30px;
            font-size: 16px;
        }
        &_sub {
            padding-left: 40px;
            font-size: 13px;
        }
    }
}
