.order_complete {
    .header_menu {
        padding: 40px 100px 20px;
    }
    .join_complete_container {
        img {
            position: absolute;
            height: 400px;
            width: 400px;
            margin-left: 40px;
        }
        .blue_btn {
            margin-top: 30px;
        }
    }
}
