.home {
    .slide_section {
        position: relative;
        height: 400px;
        width: 100%;
        // overflow: hidden;
        z-index: 2;

        .swiper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: visible;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .mini_img {
                display: inline-block;
                position: absolute;
                width: 220px;
                height: 220px;
                border-radius: 50%;
                right: 180px;
                bottom: -50px;
                object-fit: cover;
                border: 2px solid #fff;
            }
            // @keyframes test {
            //     0% {
            //         transform: scale(0.9);
            //     }
            //     50% {
            //         transform: scale(1);
            //     }
            //     100% {
            //         transform: scale(0.9);
            //     }
            // }
            .main_img {
                display: block;
                width: 1200px;
                height: 100%;
                object-fit: contain;
                margin: 0 auto;
            }
            .blur_bg {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 200px;
            }
            .slide_container {
                position: relative;
                width: 1200px;
                margin: 0 auto;
                height: 400px;

                // outline: 1px solid #fff;

                .slide_txt {
                    padding: 20px 140px 80px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    * {
                        color: #fff;
                    }
                    ul {
                        display: flex;
                        gap: 10px;

                        li {
                            padding: 0 8px;
                            height: 28px;
                            line-height: 28px;
                            background-color: rgba(255, 255, 255, 0.2);
                            font-size: 12px;
                            border-radius: 4px;
                            font-weight: 400;
                        }
                    }

                    strong {
                        display: block;
                        padding: 10px 0;
                        font-size: 32px;
                        line-height: 40px;
                    }
                    p {
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }

        .slide_black {
            background-color: #000000;
            .blur_bg {
                background-image: linear-gradient(
                        rgba(0, 0, 0, 0),
                        rgb(0, 0, 0)
                    ),
                    linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
            }
        }
        .slide_blue {
            background-color: #2248ad;
            .blur_bg {
                background-image: linear-gradient(
                        rgba(32, 72, 173, 0),
                        rgb(32, 72, 173)
                    ),
                    linear-gradient(rgba(32, 72, 173, 0), rgb(32, 72, 173));
            }
        }
        .slide_pink {
            background-color: #bf2065;
            .blur_bg {
                background-image: linear-gradient(
                        rgba(191, 32, 102, 0),
                        rgb(191, 32, 102)
                    ),
                    linear-gradient(rgba(191, 32, 102, 0), rgb(191, 32, 102));
            }
        }
        .slide_green {
            background-color: #509b4b;
            .blur_bg {
                background-image: linear-gradient(
                        rgba(80, 155, 76, 0),
                        rgb(80, 155, 76)
                    ),
                    linear-gradient(rgba(80, 155, 76, 0), rgb(80, 155, 76));
            }
        }
        .slide_purple {
            background-color: #571b86;
            .blur_bg {
                background-image: linear-gradient(
                        rgba(87, 27, 134, 0),
                        rgb(87, 27, 134)
                    ),
                    linear-gradient(rgba(87, 27, 134, 0), rgb(87, 27, 134));
            }
        }
        .swiper_nav {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1200px;
            z-index: 1;
            .swiper_nav_prev {
                position: absolute;
                left: 0;
                width: 64px;
                height: 64px;
                background: url('../../../assets/images/icons/slide_left.png')
                    no-repeat center;
                color: transparent;
                cursor: pointer;
            }
            .swiper_nav_next {
                position: absolute;
                right: 0;
                width: 64px;
                height: 64px;
                background: url('../../../assets/images/icons/slide_right.png')
                    no-repeat center;
                color: transparent;
                cursor: pointer;
            }
        }

        .swiper-pagination {
            z-index: 999;
            bottom: 20px;
        }
        .swiper-pagination-bullet {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    .today_section {
        margin-top: 100px;
        position: relative;
        h2 {
            padding-bottom: 30px;
            font-size: 30px;
        }

        .swiper-slide {
            cursor: pointer;
            .today_img {
                max-width: 285px;
                padding-bottom: 140%;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s ease 0s, opacity 0.1s linear 0s;
                }
                &:hover {
                    img {
                        transform: scale(1.05) rotate(0.001deg);
                    }
                }
            }
            em {
                display: block;
                padding-top: 10px;
                padding-bottom: 4px;
                font-size: 12px;
            }
            strong {
                font-size: 16px;
            }
            p {
                padding-top: 2px;
                font-size: 13px;
            }
        }
        .swiper_nav {
            width: 1200px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            .swiper_nav_prev,
            .swiper_nav_next {
                position: absolute;
                width: 44px;
                height: 44px;
                border: 1px solid #ccc;
                background: #fff
                    url('../../../assets/images/icons/swiper_arr.png') no-repeat
                    center / 44px;
                border-radius: 50%;
                color: transparent;
                cursor: pointer;
            }
            .swiper_nav_next {
                right: -54px;
            }
            .swiper_nav_prev {
                left: -54px;
                transform: rotate(180deg);
            }
        }
    }

    .ad_section {
        margin-top: 100px;
        display: flex;
        gap: 10px;
        img {
            border-radius: 8px;
            cursor: pointer;
        }
    }

    .marquee_section {
        margin-top: 80px;

        h2 {
            padding-bottom: 20px;
            font-size: 30px;
        }
        .slider_wrapper {
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            position: relative;
            width: 7920px;
            overflow: hidden;
            padding: 40px 0;
            border-top: 1px solid #bbb;
            border-bottom: 1px solid #bbb;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #bbb;
                z-index: 0;
            }
            .marquee-wrapper {
                .js-marquee {
                    display: flex;

                    .slider {
                        width: 3960px;
                        transform: translateX(0px);
                        &.original {
                            animation: 88s linear infinite normal none running
                                marqueeAnimation;
                        }
                        &.clone {
                            animation: 88s linear infinite marqueeAnimation2;
                        }
                        &.original.stopped,
                        &.clone.stopped {
                            animation-play-state: paused;
                        }

                        li {
                            display: inline-block;
                            vertical-align: middle;
                            margin: 0 60px;
                            cursor: pointer;

                            .today_img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                background-color: #000;
                                transform: scale(1);
                                transition: 0.3s ease-in-out;
                                overflow: hidden;
                                &:hover {
                                    transform: scale(0.98);
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        bottom: 0;
                                        right: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(0, 0, 0, 0.2);
                                    }
                                }

                                img {
                                    width: 100%;
                                }
                            }
                            &.big {
                                width: 240px;
                            }
                            &.small {
                                width: 180px;
                            }
                        }
                    }
                }
            }

            @keyframes marqueeAnimation {
                0% {
                    transform: translateX(0%);
                }
                50% {
                    transform: translateX(-100%);
                }
                50.1% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(0%);
                }
            }
            @keyframes marqueeAnimation2 {
                0% {
                    transform: translateX(0%);
                }
                100% {
                    transform: translateX(-200%);
                }
            }
        }
    }

    .event_section {
        margin-top: 100px;
        h2 {
            font-size: 30px;
            padding-bottom: 30px;
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // align-content: flex-start;
            // justify-content: center;
            // align-items: flex-start;
            gap: 20px;
            li {
                width: calc(100% / 3 - 13.4px);
                .event_box {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    padding: 20px;
                    min-height: 190px;
                    border-radius: 12px;
                    cursor: pointer;

                    img {
                        width: 150px;
                        transition: transform 0.3s ease 0s,
                            opacity 0.1s linear 0s;
                    }
                    &:hover {
                        img {
                            transform: scale(1.1) rotate(0.001deg);
                        }
                    }

                    .event_txt {
                        width: calc(100% - 150px);
                        color: #fff;
                        p {
                            font-size: 20px;
                            padding-bottom: 10px;
                            font-weight: 700;
                            letter-spacing: -0.625px;
                        }
                        span {
                            opacity: 0.8;
                        }
                    }

                    &.sky {
                        background-color: rgba(30, 144, 255, 0.5);
                    }
                    &.salmon {
                        background-color: rgba(255, 142, 142, 0.8);
                    }
                    &.lavender {
                        background-color: rgba(204, 180, 255, 0.8);
                    }
                    &.yellow {
                        background-color: rgba(255, 165, 2, 0.5);
                    }
                    &.pink {
                        background-color: rgba(255, 30, 165, 0.5);
                    }
                    &.green {
                        background-color: rgba(46, 213, 115, 0.5);
                    }
                }
            }
        }
    }

    .author_section {
        margin-top: 100px;
        position: relative;
        h2 {
            font-size: 30px;
            padding-bottom: 30px;
        }
        .img_box {
            position: relative;
            margin: auto;
            width: 273px;
            height: 273px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                display: block;
                object-fit: cover;
                object-position: right top;
                filter: grayscale(100%);
            }
            .img_hover {
                opacity: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: #fff;
                transition: 0.3s;

                p {
                    position: absolute;
                    width: 230px;
                    text-align: center;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: 400;
                }
            }
            &:hover .img_hover {
                opacity: 1;
            }
        }
        p {
            padding-top: 10px;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
        }

        .swiper_nav {
            width: 1200px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            .swiper_nav_prev,
            .swiper_nav_next {
                position: absolute;
                width: 44px;
                height: 44px;
                border: 1px solid #ccc;
                background: #fff
                    url('../../../assets/images/icons/swiper_arr.png') no-repeat
                    center / 44px;
                border-radius: 50%;
                color: transparent;
                cursor: pointer;
            }
            .swiper_nav_next {
                right: -54px;
            }
            .swiper_nav_prev {
                left: -54px;
                transform: rotate(180deg);
            }
        }
    }

    .banner_section {
        margin-top: 100px;
        img {
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
