.productlist {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    .list_content {
        display: flex;
        .list_left {
            width: 190px;
            h3 {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }
        div {
            h4 {
                font-size: 20px;
                padding-left: 20px;
                position: relative;
            }
            h4::before {
                content: '';
                position: absolute;
                background-image: url(../../../assets/images/icons/icon_prev.png);
                background-repeat: no-repeat;
                background-size: 25px;
                width: 100%;
                height: 100%;
                top: 3px;
                left: -3px;
                cursor: pointer;
            }
            ul {
                margin-top: 30px;
                font-size: 15px;
                margin-left: 20px;
                li {
                    margin-bottom: 10px;
                    opacity: 0.7;
                    transform: 0.1s;
                    &:hover {
                        opacity: 1;
                        text-decoration: underline;
                    }
                }
            }
        }
        .list_right {
            width: 950px;
            margin-left: 60px;
            header {
                display: flex;
                justify-content: space-between;
                background-color: #4d47c30e;
                padding: 20px 50px;
                border-radius: 12px;
                box-shadow: 0 0 10px #4d47c30e;
                p {
                    font-size: 20px;
                    font-weight: bold;
                }
                select {
                    border: 1px solid rgba(0, 0, 0, 0.158);
                    padding: 5px 20px;
                    border-radius: 5px;
                    text-align: center;
                    position: relative;
                }
            }
            .boundary {
                display: flex;
                justify-content: space-between;
                margin: 50px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.159);
                padding-bottom: 15px;
                div:first-child {
                    display: flex;
                    align-items: end;
                    label {
                        font-size: 1rpx;
                        margin-left: 6px;
                        font-weight: bold;
                        opacity: 0.8;
                    }
                }
                div:last-child {
                    border: 1px solid rgba(0, 0, 0, 0.218);
                    padding: 8px 20px;
                    border-radius: 10px;
                    margin-right: 11px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        border: 1px solid black;
                    }
                    a {
                        display: flex;
                        align-items: center;
                    }
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            .book_list {
                width: 950px;
                display: flex;
                flex-wrap: wrap;
                .items {
                    flex: 1;
                    flex-basis: 200px;
                    width: 200px;
                    // border: 1px solid  black;
                    margin-bottom: 80px;
                    position: relative;
                    .label {
                        position: absolute;
                        top: -20px;
                        width: 10px;
                        height: 30px;
                        left: 15px;
                        opacity: 0.3;
                    }
                    > a {
                        display: flex;
                        justify-content: left;
                    }
                    #book1 {
                        width: 200px;
                        height: 230px;
                        margin: 0 auto;
                        margin-top: 30px;
                        transition: 0.3s;
                        overflow: hidden;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    .book_content {
                        margin-top: 20px;
                        margin-left: 20px;
                        .book_title {
                            font-weight: bold;
                            margin-bottom: 10px;
                            font-size: 17px;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .author {
                            font-size: 13px;
                            opacity: 0.7;
                            cursor: pointer;
                        }
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 20px;
                            .price {
                                font-weight: bold;
                                color: #4d47c3;
                                cursor: pointer;
                                bottom: 10px;
                            }
                            img {
                                width: 22px;
                                height: 22px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .cart_modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 500px;
        padding: 40px 40px;
        background-color: #4d47c3e3;
        border-radius: 15px;
        box-shadow: 0 0 10px #4d47c33c;
        .modal {
            h4 {
                color: white;
                font-size: 24px;
                text-align: center;
                margin-bottom: 30px;
            }
            div {
                display: flex;
                justify-content: space-evenly;
                button {
                    color: white;
                    border: 1px solid white;

                    padding: 5px 10px;
                    border-radius: 10px;
                    font-size: 14px;
                    background-color: #4d47c328;
                }
            }
        }
    }
}
