.productlist {
    position: relative;
    width: 1200px;
    margin: 60px auto;
    .list_content {
        display: flex;
        .list_right {
            min-width: 100%;
            .product_title {
                padding-bottom: 40px;
                font-size: 30px;
                text-align: center;
            }
            .inp_box_wrap {
                min-width: 100%;
                margin-bottom: 30px;
                background-color: #f7f7f7;
                padding: 16px 20px;
                border-radius: 12px;
                .right {
                    & * ~ * {
                        margin-left: 8px;
                    }
                    .blue_btn {
                        font-size: 14px;
                        width: 120px;
                    }
                    .select {
                        border-radius: 18px;
                    }
                    .label {
                        display: inline-block;
                        padding: 0 36px 0 16px;
                        height: 40px;
                        line-height: 39px;
                        border-radius: 18px;
                        background-color: #fff;
                        border: 1px solid #e0e0e0;
                        background-position: right 14px center;
                    }
                }
                p {
                    margin-top: 10px;
                    display: inline-block;
                    position: relative;
                    padding-left: 22px;
                    font-weight: bold;
                    font-size: 16px;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 53%;
                        transform: translateY(-50%);
                        width: 14px;
                        height: 18px;
                        background: url('../../../assets/images/icons/icon_check_shape.png')
                            no-repeat left center / contain;
                    }
                }
            }
            .boundary {
                display: flex;
                justify-content: space-between;
                margin: 50px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.159);
                padding-bottom: 15px;
                div:first-child {
                    display: flex;
                    align-items: end;
                    label {
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
                div:last-child {
                    border: 1px solid rgba(0, 0, 0, 0.218);
                    padding: 8px 20px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        border: 1px solid black;
                    }
                    a {
                        display: flex;
                        align-items: center;
                    }
                    img {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            .book_list {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                .items {
                    width: calc(100% / 4 - 23px);
                    position: relative;

                    > a {
                        display: flex;
                        justify-content: left;
                        // height: 400px;
                        height: calc((240px - 2px) * 1.618 - 10px);
                        overflow: hidden;
                    }
                    #book1 {
                        width: 100%;

                        // object-fit: contain;
                        transition: 0.3s;

                        &:hover {
                            transform: scale(1.02);
                        }
                    }
                    .book_content {
                        margin-top: 10px;
                        .book_title {
                            font-weight: bold;
                            margin-bottom: 10px;
                            font-size: 20px;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .author {
                            font-size: 13px;
                        }
                        .publish_date {
                            font-size: 12px;
                            padding-top: 4px;
                        }
                        .price_container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 10px;
                            > div {
                                display: flex;
                                em {
                                    color: #4d47c3;
                                    font-size: 20px;
                                    font-weight: 700;
                                }
                                .price {
                                    padding-left: 10px;
                                    cursor: pointer;
                                    strong {
                                        font-size: 20px;
                                    }
                                    span {
                                        display: inline-block;
                                        margin-left: 8px;
                                        font-size: 13px;
                                        text-decoration: line-through;
                                        color: #999;
                                    }
                                }
                            }
                            img {
                                width: 40px;
                                height: 40px;
                                margin-right: 15px;
                            }
                            .ch_check + .label {
                                position: absolute;
                                left: 10px;
                                top: 10px;
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    .cart_modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 460px;
        padding: 60px 30px;
        background-color: #fff;
        border-radius: 15px;
        // box-shadow: 0 0 10px #4d47c33c;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 15px 0px;
        .modal {
            h4 {
                font-size: 24px;
                text-align: center;
                margin-bottom: 40px;
            }
            div {
                text-align: center;
                button {
                    width: 156px;
                }
                button ~ button {
                    margin-left: 8px;
                }
            }
        }
    }
}
