.login {
    .login_container .login_inner .login_form {
        .blue_btn.w_96 {
            width: 96px;
            margin-left: 8px;
            margin-top: 0;
        }
        .inp_btn_container {
            margin-top: 28px;
            input[type='text'] {
                margin-top: 0 !important;
                width: calc(100% - 104px);
            }
        }
    }
}

.login.join {
    .login_container {
        .login_inner {
            padding-top: 60px;
            padding-bottom: 0;

            .login_form {
                input[type='text'],
                input[type='password'],
                input[type='number'] {
                    margin-top: 16px;
                }

                .blue_btn:not(.w_96) {
                    margin-top: 22px;
                }
            }
        }
    }
}
